<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 padding-mobile">
                <div class="infoAbout">
                    <div class="logoFooter" >
                        <img src="../../assets/Images/sequelLogo.png" alt="logo">
                    </div>
                    <div class="info">
                        <p>Delivering exceptional offshore staffing solutions,  providing you with staff of the highest standards</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 padding-mobile">
                <div class="infoLinks">
                    <h2>Services Area</h2>
                    <ul>
                      <li><i class="fas fa-angle-double-right"></i> <a [ngx-scroll-to-offset]="-60" [ngx-scroll-to]="'howitworks'">How it works</a></li>
                      <li><i class="fas fa-angle-double-right"></i> <a [ngx-scroll-to-offset]="-60" [ngx-scroll-to]="'industries'">Industries</a></li>
                      <li><i class="fas fa-angle-double-right"></i> <a [ngx-scroll-to-offset]="-60" [ngx-scroll-to]="'about'">About</a></li>
                      <li><i class="fas fa-angle-double-right"></i> <a [ngx-scroll-to-offset]="-60" [ngx-scroll-to]="'pricing'">Pricing</a></li>
                      <li><i class="fas fa-angle-double-right"></i> <a [ngx-scroll-to-offset]="-60" [ngx-scroll-to]="'contact'">Contact</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="infoContact1">
                    <h2>Info Contact</h2>
                    <ul>
                      <li><i class="fas fa-home"></i> 171 Tahrir Street, Downtown, Cairo</li>
                      <li><i class="fas fa-envelope"></i> info@sequelsolutions.co.uk</li>
                      <!-- <li><i class="fas fa-phone"></i> +1 800 234 5678</li> -->
                      <!-- <li><i class="fas fa-globe"></i> www.growlife.com</li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <p>©2018 <span>Sequel Solutions </span> <i class="fas fa-heart"></i> All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>