<section class="about" id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
            <h2 >About Us</h2>
            <div class="line"></div>
        </div>
        <div class="col-md-6 col-sm-12 padding-mobile overviewtxt">
          <div class="wow fadeInLeft bs-example" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
              <div class="">
                  <h3>Overview</h3>
                  <p>
                      Sequel Solutions provides business solutions to global companies, enabling easy and flexible offshore outsourcing operations set-up in Cairo, Egypt. <br> 
                      Based in a premier business district in the capital, we have access to the best infrastructure and talent for 
                      you to build your local team with. <br> 
                      Our European-Arab team brings a wealth of global insight and local knowledge, allowing for an uncomplicated and simple transition to outsourcing to Egypt. 
                  </p>
    						</div>
        </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="wow fadeInRight frame" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight;">
            <span class="border-top"></span>
            <span class="border-bottom"></span>
            <figure class="img-container">
            <img src="../../assets/img/services1.jpg" alt="About">
          </figure>
          </div>
        </div>
      </div>
    </div>
  </section>