<div class="progressb paddingProgress" id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h2>Pricing</h2>
        <div class="line"></div>
      </div>
      <div class="col-md-9 col-sm-12 padding-mobile wow animated1 bs-example" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
        <div> 
          <h3>Desk Rental From $650 per month </h3>
          <p>
            We charge you on a per desk basis.
             What that means is you rent a desk in our offices, with 24 / 7 usage and access. <br>
           You can keep up to 3 full-time members of staff on 8 hour shifts.
          </p>
          <h4>The price includes: </h4>
          
            <ul>
            <li> <i class="fas fa-angle-double-right"></i>One workstation desk and ergonomic chair A desktop computer, 21inch LED screen, keyboard and mouse.</li>
            <li> <i class="fas fa-angle-double-right"></i>Unlimited recruitment services.</li>
            <li> <i class="fas fa-angle-double-right"></i>Payroll & Personnel Services, Compliant with domestic labour and taxation law. </li>
            <li> <i class="fas fa-angle-double-right"></i>HR Services for your entire team, including monthly reporting on time stamped entry and exit of your member of
              staff. </li>
            </ul>
       
        </div>


      </div>
      <div class="col-md-3 col-sm-12">
        <img src="../../assets/Images/desk-icon3.png" alt="">
      </div>
    </div>
  </div>
</div>