<div class="">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!-- <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol> -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active" style="background-image:url(../../assets/Images/slider1.jpg)">
        <!-- <img  alt="Los Angeles" style="width:100%;"> -->
        <div class="slider-caption">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-md-offset-0 col-sm-12">
                <h2 class="animated1">Grow your business in a smarter way</h2>
                <p class="animated2 padding-bottom2">Reduce your costs and grow your business. Hire the top quality staff for your business through our full service recruitment.</p>
                <div class="pull-left">
                  <a class="animated3 btnOrange"
                  [ngx-scroll-to-offset]="-120" [ngx-scroll-to]="'contact'">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="item" style="background-image:url(../../assets/Images/slider2.jpg)">
        <!-- <img src="../../assets/img/banner2.jpeg" alt="Chicago" style="width:100%;"> -->
        <div class="slider-caption">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-md-offset-0 col-sm-12">
                <h2 class="animated1">Why outsource in Egypt</h2>
                <p class="animated2 padding-bottom2">We connect you with a large pool of highly skilled English-speaking employees in Cairo, Egypt. All your staffing solutions are met with just one online staffing agency</p>
                 <div class="pull-left">
                  <a class="animated3 btnOrange"
                  [ngx-scroll-to-offset]="-120" [ngx-scroll-to]="'contact'">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="item" style="background-image:url(../../assets/Images/slide4.jpg)">
        <!-- <img src="../../assets/img/banner3.jpeg" alt="New York" style="width:100%;"> -->
        <div class="slider-caption">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-md-offset-0 col-sm-12">
                <h2 class="animated1">Multi Channel Support</h2>
                <p class="animated2 padding-bottom2">Sequel Solutions offers multi channel support services that help your company provide customer care on each and every channel your customer may think about contacting you on. This includes channels like voice, chat, email and social media.</p>
               <div class="pull-left">
                  <a  class="animated3 btnOrange"
                  [ngx-scroll-to-offset]="-120" [ngx-scroll-to]="'contact'">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control arrows" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control arrows" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
