
<section class="pricing" id="howitworks">
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12">
              <h2>HOW IT WORKS</h2>
              <div class="line"></div>
              <p class="howittext">With Sequel Solutions you can scale your organisation quickly, easily and cost effectively with dedicated remote staff.</p>
             
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 padding-mobile step1">
              <div class="boxPricing">
                  <div class="titlePricing mytitle">
                    <img src="../../assets/Images/1.png"/>
                  </div>
                  
                  <div class="lists mylists">
                    <ul>
                      <li class="white">You provide us
                          with a job description</li>
                          <li> <h5>( just tell us what you need )</h5></li>
                    </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 padding-mobile step2">
            <div class="boxPricing">
              <div class="titlePricing mytitle">
                <img src="../../assets/Images/2.png"/>
              </div>
              
              <div class="lists mylists">
                <ul>
                  <li class="white">We recruit
                      talented professionals</li>
                      <li><h5>( only the best. quality assured )</h5></li>
                </ul>
              </div>
          </div>

          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 padding-mobile step3">
               <div class="boxPricing">
                  <div class="titlePricing mytitle">
                    <img height="183.75px" src="../../assets/Images/3.png"/>
                  </div>
                  
                  <div class="lists mylists">
                    <ul>
                      <li class="white">Your dedicated staff
                          report to you daily</li>
                          <li><h5>( full time from our offices in Egypt )</h5></li>
                    </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 padding-mobile step4">
            <div class="boxPricing">
              <div class="titlePricing mytitle">
                <img src="../../assets/Images/4.png"/>
              </div>
              
              <div class="lists mylists">
                <ul>
                  <li class="white">We manage
                      the office operations</li>
                      <li><h5>(and ensure quality standards)</h5></li>
                </ul>
              </div>
          </div>
          </div>
      </div>
  </div>
</section>