<section class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2>Feel free to contact us</h2>
                <div class="line"></div>
            </div>
            <!-- <div class="col-md-6 col-sm-12 padding-mobile wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                <form  id="contact-form"  class="row form-horizontal contact-form">
                   
                    <div class="col-md-6 col-sm-6 col-xs-12" id="name-field">
                        <input #name type="text" class="form-control" id="form-name" name="form-name" placeholder="Name" required>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12" id="email-field">
                        <input #email type="email" class="form-control" id="form-email" name="form-email" placeholder="Email" required>
                    </div>
                    <div class="col-md-12 col-sm-12" id="subject-field">
                        <input #subject type="text" class="form-control" id="form-subject" name="form-subject" placeholder="Subject" required>
                    </div>
                    <div class="col-md-12 col-sm-12" id="message-field">
                        <textarea #message class="form-control" rows="6" id="form-message" name="form-message" placeholder="Message" required></textarea>
                    </div>
                    <div class="col-xs-12 col-sm-3 paddibg-top pull-right">
                        <button class="btnOrange4">Submit</button>
                        
                    </div>
                </form>
            </div> -->
            <div class="col-md-12 col-sm-12 wow fadeInRight" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">
                <div class="google-map">
                    <div id="map" style="height:410px; width:100%;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.751176969895!2d31.236573615115034!3d30.04399558188243!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145840c792ff5ed5%3A0x27392189a2c25351!2sThe+Greek+Campus!5e0!3m2!1sen!2seg!4v1532872051161"
                            width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>