.contact .line {
  background: url(../../assets/img/sLine.png) no-repeat;
}
@media only screen and (max-width: 600px) {
.contact{
  padding: 25px 0 25px 0;
}
.contact .line{
  margin: 0 auto 25px auto;
}
}